body {
  margin: 0;
  padding: 0;
  background-color: #CACDF3;
}

.home {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: calc(100vw - 60px); /* 100% de la largeur de la vue avec une marge de 30px de chaque côté */
  height: calc(100vh - 60px); /* 100% de la hauteur de la vue avec une marge de 30px en haut et en bas */
  display: flex;
  margin: 30px;
  /* justify-content: flex-start; */
  align-items: center;
}

.page-container {
  right: -1000px;
  display: flex;
  justify-content: flex-end; /* Alignez le contenu à droite */
  margin-right: 30px;
}

.amplimentation{
  /* background-color: #CACDF3; */
  flex: 1;
  align-items: center;
}
