.amplimentation .table_centre{
    width: 96%;  /*1120px */
    margin-top: -10%;
}

.amplimentation-calendrie{
    position: absolute;
    /* top: 90px; */
    left: 21%;
    width: 77%;
}

th .ant-table-cell{
    background: linear-gradient(to right, #5c6bc0, #512da8);
}

:where(.css-dev-only-do-not-override-2q8sxy).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-2q8sxy).ant-table-wrapper .ant-table-thead >tr>td {
    background: #512da8;
    color: white;
}

:where(.css-dev-only-do-not-override-2q8sxy).ant-pagination .ant-pagination-item-active a {
    color: #512da8;
}

:where(.css-dev-only-do-not-override-2q8sxy).ant-pagination .ant-pagination-item-active {
    font-weight: 600;
    background-color: #ffffff;
    border-color: #512da8;
}

:where(.css-dev-only-do-not-override-2q8sxy).ant-pagination .ant-pagination-item-active:hover a {
    color: #5c6bc0;
}